{% extends "home.html" %}
{% block title %} About {% endblock %}
{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Instrument+Serif&display=swap" rel="stylesheet">
<style>
.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin: 20px;
    padding-bottom: 8%;
}


.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    padding: 5px;
}


.member-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    /* Optional border for better aesthetics */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.dreamteam {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-size: 2rem;
    color: #002e5b;
    transition: color 0.2s ease;
}

#dream-team-title {
    color: #3c2f1b;
    cursor: default;
}

.member h3 {
    color: white;
}

</style>
<body>
    <div class="dreamteam">
        <h1 id="dream-team-title">Dream Team</h1>
    </div>
    <div class="team">


        <div class="member"><img class="member-image" src="{% static 'images/ada.jpg' %}" alt="Ada">
            <br>
            <h3> Adriana Jaworska</h3>
        </div>
        <div class="member"><img class="member-image" src="{% static 'images/iana.jpg' %}" alt="Iana"><br>
            <h3>Iana Pavliuc</h3>
        </div>
        <div class="member"><img class="member-image" src="{% static 'images/beatrice.jpg' %}" alt="Beatrice"><br>
            <h3>Beatrice Cimpanu</h3>
        </div>
        <div class="member"><img class="member-image" src="{% static 'images/kornelia.jpeg' %}" alt="Kornelia"><br>
            <h3>Kornelia Madela</h3>
        </div>
        <div class="member"><img class="member-image" src="{% static 'images/rita.jpg' %}" alt="Rita"><br>
            <h3>Rita Braunschweig </h3>
        </div>
        <div class="member"><img class="member-image" src="{% static 'images/filip.jpeg' %}" alt="Filip"><br>
            <h3>Filip Sima</h3>
        </div>


    </div>
  </body>
  {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}